<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>
{% include google_analytics.html %}
        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
            <a class="extra" href="/about">about</a>
            <a class="extra" href="/how-to-contribute">contribute</a>
          </div>

          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
                Powered by <a class="klxrb-logo" href="http://rubybrigade.my" target="_blank">KL Ruby Brigade</a>
              </p>
            </div>
          </div>
        </div>

    </body>
</html>
